/* Bookmark menu */

.bookmark-menu-trigger{
	width: 20px;
	height: 100%;
	background-color: transparent;
	position: absolute;
	left: 0;
	z-index: 9;
}

.bookmark-menu{
	width: 260px;
	height: 100%;
	background-color: #ECF0F1;
	box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.4);
	position: absolute;
	left: -400px;
	z-index: 99;
	overflow-y: scroll;
	transition: 0.3s;
}

.bookmark-menu.active{
	left: 0;
}

.bookmark-menu h1, .bookmark-menu h2{
	color: #333;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	font-weight: 300;
}

.bookmark-menu h1{	
	font-size: 24px;
}

/* Bookmarks list */

.bookmarks-container ul{
	float: left;
	width: 100%;
	list-style: none;
	margin: 0 0 20px 0;
}

.bookmarks-container ul li{
	float: left;
	width: 100%;	
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	background-color: #ECF0F1;	
	position: relative;
}

.bookmarks-container ul li a{
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	text-decoration: none;
}

.bookmarks-container ul li a img{
	margin: 0 5px 0 0;
	position: relative;
	top: 2px;
}

.bookmarks-container ul li:hover{
	text-decoration: none;
	background-color: #e2eef1;
}

.bookmarks-container ul li:hover button{
	display: block;
}

.bookmarks-container ul li button{
	display: none;
	float: right;
	width: auto;
	height: auto;
	padding: 5px;
	outline: 0;
	background-color: transparent;
	color: #333;
	cursor: pointer;
	position: absolute;
	top: 9px;
	right: 10px;
}

.bookmarks-container ul li button:hover{
	background-color: transparent;
}

.bookmarks-container ul li button:active{
	outline: 0;
}

.bookmarks-container ul li.empty{
	line-height: normal;
	border: 0;
}

/* New bookmark form */

.bookmarks-form{
	float: left;
	width: 100%;
	padding: 0 10px;
}

.bookmarks-container input[type="text"]{
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;		
	font-size: 14px;
}

.bookmarks-container input[type="text"]:nth-child(3){
	margin-bottom: 5px;
	border-top: 0;
}

.bookmarks-container input:focus{
	outline: 0;
}

.bookmarks-container button{
	float: left;
	width: 100%;
	height: 40px;
	padding: 10px;
	border: 0;
	background-color: #523c60;
	color: #fff;	
	cursor: pointer;
	transition: 0.3s;
}

.bookmarks-container button:hover{
	background-color: #644a74;
}

.btn.bookmark{
	width: auto;
	height: auto;
	line-height: normal;
	padding: 0;
	background-color: transparent;
	color: #523c60;
	font-size: 14px;
}

.btn.bookmark:hover{
	background-color: transparent;
	color: #644a74;
	text-decoration: underline;
}