.btn{
	float: left;
	margin: 0 0 10px 0;
	padding: 10px;
	background-color: #523c60;
	color: #fff;
	font-size: 14px;
	transition: 0.5s;
}

.btn:hover{
	background-color: #644a74;
	text-decoration: none;
}