@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

/* New menu */

.links-menu{
	width: 200px;
	height: auto;
	min-height: 405px;
	max-height: 405px;
	position: absolute;
	left: 10px;
	bottom: -10px;
	z-index: 999;
}

.links-menu ul{
	list-style: none;
	width: 200px;
	height: 100%;
	max-height: 100%;
	max-height: calc(100% - 10px);
	padding: 10px 0;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 999;
	overflow-y: scroll;
	transition: 0.5s;
}

.links-menu ul::-webkit-scrollbar {
  width: 6px;
}

.links-menu ul::-webkit-scrollbar-track {
  background: #666;
}

.links-menu ul::-webkit-scrollbar-thumb {
  background: #ddd;
}

.links-menu ul.menu-show{
	bottom: 10px;
}

.links-menu li{
	list-style: none;
	float: left;
	width: 100%;
	padding: 7px 10px;
	position: relative;
}

.links-menu li a{
	float: left;
	width: 100%;
	padding: 0 0 0 25px;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 16px;
}

.links-menu ul li.hide-menu a{
	padding: 0;
}

.links-menu ul li.icon-apps a{
	background-image: url(../images/icon_chromeapps.png);
}

.links-menu ul li.icon-gmail a{
	background-image: url(../images/icon_gmail.png);
}

.links-menu ul li.icon-drive a{
	background-image: url(../images/icon_drive.png);
}

.links-menu ul li.icon-jira a{
	background-image: url(../images/icon_jira.png);
}

.links-menu ul li.icon-dropbox a{
	background-image: url(../images/icon_dropbox.png);
}

.links-menu ul li.icon-portal a{
	background-image: url(../images/icon_portal.png);
}

.links-menu ul li.icon-intranet a{
	background-image: url(../images/icon_intranet.png);
}

.links-menu ul li.icon-horology a{
	background-image: url(../images/icon_horology.png);
}

/* Bookmarks */

.links-menu ul ul{
	float: left;
	width: 100%;
	background-color: red;
}

.links-menu ul li a{
	float: left;
	width: 100%;
	padding: 0 0 0 30px;
}

.links-menu ul li .delete{
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: 0;
	color: #fff;
	position: absolute;
	bottom: 7px;
	right: 10px;
	cursor: pointer;
}

.links-menu ul li .delete:before{
	content: '';
	width: 0;
	height: 0;
	/*margin: -11px 0 0 -12px;*/
	border: 1px solid #fff;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: 0.3s;
}

.links-menu ul li .delete:hover::before{
	width: 22px;
	height: 22px;
	margin: -11px 0 0 -12px;
}

.links-menu ul li.bookmarks a{
	padding: 0;
}

.links-menu ul li.bookmarks img{
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
	position: relative;
	top: 4px;
}

.bookmarks-form{
	margin-top: 10px;
}

.bookmarks-form input{
	width: 100%;
	padding: 3px 5px;
	outline: 0;
	font-size: 12px;
}

.bookmarks-form button{
	margin: 5px 0 0 0;
	background-color: transparent;
	border: 0;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

.bookmarks-form button:hover{
	color: #fff;
	text-decoration: underline;
}

.showhidemenu{
	display: inline-block;
	max-width: 40px;
	padding: 5px 8px !important;
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px 5px 0 0;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: -31px;
	text-align: center;
	text-decoration: none !important;
}