.new-user{
	display: none;
	width: 100%;
	max-width: 400px;
	input{
		float: left;
		width: 80%; height: 40px;
		padding: 10px;
		border: 0;
		font-size: 16px;
		&:focus{ outline: 0; }
	}
	// Save button
	a{
		float: left;
		width: 19%; height: 40px;
		margin: 0 0 0 1%;
		border: 2px solid #fff;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 38px;
		text-align: center;
		text-decoration: none;
		transition: 0.3s ease;
		&:hover{
			background-color: #fff;
			color: #333;
		}
	}
}
