// Todo list container
// -------------------
.todo-list{
  width: 100%;
  max-width: 240px;
  height: 240px;
  padding: 5px;
  background-color: rgba(255,255,255,0.95);
  position: absolute;
  bottom: 0; right: 0;
}

// Todo list
// ---------
.todo-list{
  ul{
    height: 195px;
    padding: 5px;
    overflow-y: scroll;
    li{
      display: flex;
      align-items: center;
      margin: 5px 0 0 0;
      padding: 0 5px 5px 0;
      border-bottom: 1px dashed #aaa;
      color: #333;
      font-size: 13px;
      font-weight: 400;
      &.done{
        span{ text-decoration: line-through; }
      }
      &.empty{
        text-align: center;
      }
      span{
        padding: 0 10px;
      }
      button{
        margin-left: auto;
        border: 0;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}

// Todo list scroll bar
// --------------------
.todo-list ul::-webkit-scrollbar{ width: 6px; }
.todo-list ul::-webkit-scrollbar-track{ background: #eee; }
.todo-list ul::-webkit-scrollbar-thumb{ background: #aaa; }

// Form
// ----
.todo-list{
  form{
    position: relative;
    input{
      display: inline-block;
      width: 100%; height: 30px;
      margin: 5px 0 0 0;
      outline: 0;
      border: 0;
      border-bottom: 2px solid #aaa;
      background-color: transparent;
      font-size: 13px;
    }
    button{
      width: 15%; height: 30px;
      border: 0;
      outline: 0;
      background-color: transparent;
      color: #333;
      cursor: pointer;
    }
    span{
      width: 100%; height: 2px;
      position: absolute;
      bottom: 0; left: 0;
      &:before,&:after{
        content: '';
        width: 0%; height: 2px;
        background-color: #333;
        position: absolute;
        top: 0; left: 50%;
        transition: 0.6s ease;
      }
    }
  }
}

// Animated line under input
// -------------------------
.todo-list input:focus + span:before,
.todo-list input:focus + span:after{ width: 50%; }
.todo-list input:focus + span:before{ left: 0; }
.todo-list input:focus + span:after{ right: 0; }
