<!DOCTYPE html>
<html ng-app="newtab">
  <head>
    <title>New Tab</title>

    <script src="jquery/jquery.js"></script>
    <script src="jquery/jquery-ui.min.js"></script>

    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-local-storage.min.js"></script>

    <script src="jquery/sortable.js"></script>
    <script src="js/app.js"></script>

    <script src="jquery/jquery.cookie.js"></script>

    <script src="js/todos.js"></script>

    <script src="jquery/500px.js"></script>

    <link rel="stylesheet" type="text/css" href="src/css/app.css">
  </head>
<body>
  <div class="wrapper">

    <a href="#" class="btn-refresh"><img src="src/images/icon-refresh.svg" /></a>

    <!-- Weather -->
    <div class="weather">
      <div class="result"></div>
    </div>

    <!-- Clock / welcome message -->
    <div class="page-wrapper">
      <div class="hello">
        <p id="clock"></p>
        <h2><span class="welcome"></span><span class="username"></span></h2>
      </div>
      <div class="new-user">
        <div class="clearfix"></div>
        <input id="username" placeholder="Hello! Please enter your name...">
        <a href="" class="btn-save">Save</a>
      </div>
    </div>

    <!-- Todo list -->
    <div class="todo-list" ng-controller="TodoListController as todoList" ng-init="init()">
      <ul ui-sortable="todoSortable" ng-model="todos">
        <li ng-repeat="todo in todos">
          <input class="todo-checkbox" ng-model="todo.isDone" id="{{ 'object-' + $index }}" type="checkbox">
          <label for="{{ 'object-' + $index }}" class="todo-label"></label>
          <span>{{todo.taskName}}</span>
          <button class="delete" type="button" aria-hidden="true" ng-click="deleteTodo($index)">&#10005;</button>
        </li>
        <li ng-show="!todos.length" class="empty">
          Nothing to do :D
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input class="add-todo" placeholder="Add todo..." type="text" ng-model="newTodo">
        <span></span>
      </form>
    </div>

  <!-- End of wrapper -->
  </div>

  <!-- This needs to be last -->
  <script src="js/last.js"></script>

</body>
</html>
