<!DOCTYPE html>
<html ng-app="newtab">
  <head>
    <title>New Tab</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
<body ng-controller="MainController as main">
  <div class="wrapper" style="background-image: url({{background_image}});">

    <!-- Info -->
    <div class="info">
      <p>{{weather.temp}}<sup>&deg;</sup> {{weather.city}} {{weather.forecast}}</p>
      <p><strong>Sunrise:</strong> {{weather.sunrise}} <strong>Sunset:</strong> {{weather.sunset}}</p>
      <p><span ng-show="image_details">Image:</span> <a href="https://500px.com/{{image_details.image_url}}" target="_blank">{{image_details.image_name}} <i><span ng-show="image_details.image_by"> - by</span> {{image_details.image_by}}</i></a></p>
    </div>

    <!-- Clock / welcome message -->
    <div class="page-wrapper">
      <div class="hello" ng-hide="new_user">
        <p id="clock">{{time|date:'HH:mm'}}</p>
        <h2><span class="welcome">{{time_of_day}}</span><span class="username">{{username}}</span></h2>
      </div>
      <div class="new-user" ng-show="new_user">
        <div class="clearfix"></div>
        <input ng-model="new_username" id="username" placeholder="Hello! Please enter your name...">
        <a href="" class="btn-save" ng-click="createUser()">Save</a>
      </div>
    </div>

    <!-- Todo list -->
    <div class="todo-list" ng-controller="TodoController as todoList" ng-init="init()">
      <ul ui-sortable="todoSortable" ng-model="todos">
        <li ng-repeat="todo in todos" ng-class="{done: todo.isDone}">
          <input class="todo-checkbox" ng-model="todo.isDone" id="{{ 'object-' + $index }}" type="checkbox" ng-checked="todo.isDone">
          <label for="{{ 'object-' + $index }}" class="todo-label"></label>
          <span>{{todo.taskName}}</span>
          <button class="delete" type="button" aria-hidden="true" ng-click="deleteTodo($index)">&#10005;</button>
        </li>
        <li ng-show="!todos.length" class="empty">
          Nothing to do :D
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input class="add-todo" placeholder="Add todo..." type="text" ng-model="newTodo">
        <span></span>
      </form>
    </div>

  <!-- End of wrapper -->
  </div>

</body>
</html>
