@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Anton');

*{ margin: 0; padding: 0; box-sizing: border-box; }

body, html{
	height: 100%;
	min-height: 100%;
}

body{
	background: linear-gradient(130deg, #7e8890 0%, #7d8287 50%, #383c45 100%);
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 300;
	overflow: hidden;
	-webkit-animation: fadein 0.8s;
	position: relative;
}

@-webkit-keyframes fadein{
	from { opacity: 0; }
	to   { opacity: 1; }
}

.clearfix{ clear: both; }

.wrapper{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.page-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%; height: 100%;
}

.info{
	min-width: 400px;
	padding: 10px 20px;
	background-color: rgba(#fff,0.9);
	position: absolute;
	bottom: 0; left: 0;
}